<body xmlns:th="http://www.w3.org/1999/xhtml">
<div class="mainContainer">

  <div class="mainWindowContainer">
    <div class="headerContainer">
      <h3 class="title">
        Overview
      </h3>
    </div>
    <div class="contentContainer">
      <div class="overViewContainer">
        <div class="overviewContentContainer">
          <div class="contentContainerTitleContainer">
            <p class="contentContainerTitle">
              Accounts
            </p>
          </div>
          <div class="ContentContainerTableContainer">
            <table>
              <thead>
              <tr>
                <th>IBAN</th>
                <th>Balance</th>
                <th>Overdraft</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let account of accounts$ | async">
                <td>{{account.iban}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.overdraft}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="rightSideActionContainer">
          <div class="rightSideSecondaryActionContainer">
            <button type="button" class="btn btn-secondary" onclick="location.href='/transfer'">Transfer</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/withdraw'">Withdraw</button>
          </div>
        </div>
      </div>
    </div>

    <div class="footerContainer">
      <div class="footerButtonsContainer">
        <div class="tertiaryActionContainer">
          <button type="button" class="btn btn-tertiary" onclick="location.href='/cancel'">Cancel</button>
        </div>
        <div class="ctaButtonContainer">
          <button type="button" class="btn btn-primary" onclick="location.href='/deposit'">Deposit</button>
        </div>

      </div>

    </div>
    </div>

  </div>

</body>

